mat-card{
    padding: 0%;
}
.login-form {
    padding: 20px;
}
span {
    text-align: center;
    display: inline-block;
    width: 100%;
}
.main-div mat-card{
    padding: 0%;
    margin-bottom: 8%;
}
